<!DOCTYPE html>
<html>
<head>
    <title>Benford's Law Validation</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Benford's Law Validation</h1>
       <!-- Display Error if provided -->
       {% if error_message %}
       <div class="error">
           {{ error_message }}
       </div>
       {% endif %}
       <BR>
   
    <form method="POST" enctype="multipart/form-data">
        <label for="file-upload">Choose a file:</label>
        <input type="file" name="file_to_upload" id="file-upload">
        <input type="submit" name= "btn_upload" value="Upload" class="btn">
    </form>


    <!-- If filelist is not empty - populate the table  -->
    {% if file_list %}
    <h2>File List:</h2>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                </tr>
            </thead>
            <tbody>
                {% for file in file_list %}
                    <tr>
                        <td>
                            <label>
                              <input type="radio" name="selected_file" value="{{ file[0] }}" {% if selected_file == file[0] %}checked{% endif %}>
                              {{ file[0] }}
                            </label>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <input type="submit" name="btn_preview" value="Preview File" class="btn">
    </form>
    {% else %}
        <p>No files found in the database.</p>
    {% endif %}


    <!-- If file selected then display file snippet  -->    
    {% if data %}
    <h2>File Snippet:</h2>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    {% for header in data[0] %}
                        <th>
                            <label>
                              {{ header }}
                              <!-- Add a radio button for each column header -->
                              <input type="radio" name="selected_column" value="{{ header }}">
                            </label>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:] %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <input type="hidden" name="selected_file" value="{{ selected_file }}">
        <input type="hidden" name="selected_column" value="{{ selected_column }}">
        <input type="submit" name="btn_process"value="Process Selection" class="btn">
    </form>
    {% endif %}


</body>
</html>
