<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <style>
        /* Add some basic styling for the table */
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    <!-- Display Error if provided -->
    {% if error_message %}
    <div style="color: red; border: 1px solid red; padding: 10px; margin: 10px 0;">
        {{ error_message }}
    </div>
    {% endif %}

    <!-- If filelist is not empty - populate the table  -->
    {% if file_list %}
    <h2>File List:</h2>
    <form method="POST">
        <table>
            <thead>
                <tr>
                    <th>File Name</th>
                </tr>
            </thead>
            <tbody>
                {% for file in file_list %}
                    <tr>
                        <td>
                            <input type="radio" name="selected_file" value="{{ file[0] }}" {% if selected_file == file[0] %}checked{% endif %}>
                            {{ file[0] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <BR><BR>
        <input type="submit" value="Preview File">
    </form>
    {% else %}
        <p>No files found in the database.</p>
    {% endif %}


    <!-- If file selected then display file snippet  -->    
    {% if data %}
    <h2>File Snippet:</h2>
    <form method="POST" action="/process">
        <table>
            <thead>
                <tr>
                    {% for header in data[0] %}
                        <th>
                            {{ header }}
                            <!-- Add a radio button for each column header -->
                            <input type="radio" name="selected_column" value="{{ header }}">
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:] %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <BR><BR>
        <input type="hidden" name="selected_file" value="{{ selected_file }}">
        <input type="hidden" name="selected_column" value="{{ selected_column }}">
        <input type="submit" value="Process Selected File And Column">
    </form>
    {% endif %}
</body>
</html>
